* {
  /* padding: 0;
  margin: 0;
  box-sizing: border-box; */
}

body {
  background: #293251;
  background-size: cover;
}
.name {
  padding-left: 230px;
}

#message {
  /* padding-left: 150px; */
}
.container {
  width: 20%;
  top: 50%;
  left: 50%;
  background: white;
  border-radius: 10px;
  min-width: 450px;
  position: absolute;
  min-height: 100px;
  transform: translate(-50%, -50%);
}
#newtask {
  position: relative;
  padding: 30px 20px;
}
.wrap {
}
#newtask input {
  width: 85%;
  height: 45px;
  padding: 12px;
  color: #111111;
  font-weight: 500;
  position: relative;
  border-radius: 5px;
  font-family: "Poppins", sans-serif;
  font-size: 15px;
  border: 2px solid #d1d3d4;
}

#newtask input:focus {
  outline: none;
  border-color: #0d75ec;
}
#newtask button {
  position: relative;
  float: right;

  font-size: 16px;
  background-color: #0d75ec;
  border: none;
  color: #ffffff;
  cursor: pointer;
  outline: none;
  width: 12%;
  height: 45px;
  border-radius: 5px;
  font-family: "Poppins", sans-serif;
}
#tasks {
  /* border-radius: 10px;
  width: 100%;
  position: relative;
  background-color: #ffffff;
  padding: 30px 20px;
  margin-top: 10px; */
  padding: 10px;
}

.app-title {
  padding-left: 150px;
}

#container1 {
  /* width: 200px;
  top: 50%;
  left: 70%;
  height: 250px;
  background: white;
  border-radius: 10px; */
  display: flex;
  flex-wrap: wrap;
  width: 300px;
  height: 200px;
  margin: 2em 0em;
  background-color: #ffffff;
}

#div-container {
  width: 30%;
  height: 50%;
  margin: 2em 0em;
  padding-left: 30px;
  display: flex;
}

.div-shadow {
  width: 200px;
  height: 142px;
  padding: 20px;
  margin: 0 1em 1em 0;
  color: #c5e1e6;
  box-shadow: inset 0px 0px 10px;
  display: flex;
}

