* {
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #293251;
  background-size: cover;
}
.name {
  padding-left: 230px;
}
.wrap {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  resize: vertical;
}
/* #message {
  /* padding-left: 150px; */
/* }  */
.app-title {
  padding-bottom: 30px;
  justify-content: center;
  padding-left: 30px;
}

#newtask {
  padding: 30px 30px;
  width: 20%;
  border-radius: 10px;
  min-width: 490px;
  color: #c5e1e6;
  box-shadow: inset 0px 0px 10px;
}

#newtask input {
  width: 85%;
  height: 45px;
  padding: 12px;
  background-color: #293251;
  border: 1px solid #ccc;
  font-family: "Poppins", sans-serif;
  font-size: 15px;
  color: #d6eaee;
}
.searchTerm {
  font-size: 16px;
  border: none;
  cursor: pointer;
  outline: none;
  width: 12%;
  height: 45px;
  border-radius: 5px;
  font-family: "Poppins", sans-serif;
}

#newtask button {
  float: right;
  box-sizing: border-box;
  border: 1px solid #ccc;
  font-size: 16px;
  background-color: #293251;
  color: #ffffff;
  cursor: pointer;
  outline: none;
  width: 12%;
  height: 45px;
  border-radius: 5px;
  font-family: "Poppins", sans-serif;
}
#tasks {
  padding-top: 590px;
  padding-left: 20px;
  display: flex;
  flex-direction: row;
  flex-flow: wrap;
  justify-content: center;
}

.app-title {
  padding-left: 150px;
}

#div-container {
  width: 30%;
  height: 50%;
  margin: 2em 0em;
  padding-left: 30px;
  display: flex;
}

.div-shadow {
  width: 200px;
  height: 142px;
  padding: 20px;
  margin: 0 1em 1em 0;
  color: #c5e1e6;
  box-shadow: inset 0px 0px 10px;
  display: flex;
}
/* @media only screen and (min-device-width: 320px) and (max-device-width: 480px) {

} */

